/* ---- RESET ---- */
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
/* ---- BODY ---- */
body {
    font-family: "Open Sans", serif;
    font-weight: bold;
    color: crimson;
}
/* ---- HEADINGS ---- */
h1 {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 6em;
}

h2 {
    font-size: 3em;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

h5 {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 1.38em;
}
h6 {
    font-family: "Source Sans Pro";
    font-weight: bold;
}

/* ---- LINE ---- */
hr {
    display: block;
    background: white;
    height: 0.2em;
    width: 100%;
}

/* ---- LINKS ---- */
a {
    color: crimson;
    border: none;
}
a:hover {
    color: crimson;
    border: none;
}

/* ---- HEADER ---- */
header {
    width: 100%;
    height: 300px;
    padding: 30px;
}

/* ---- FOOTER ---- */
footer {
    text-align: center;
}

/* ---- SECTION CLASS ---- */
.wall {
    width: 100%;
    height: 300px;
}

/* ---- LIST ---- */
ul {
    list-style: none;
}

ul li {
    display: block;
}

/* ---- CONTENT RULES ---- */
/*
.page {
    width: 100%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.footer_nav {
    list-style: none;
}

.footer_nav li {
    display: inline;
    padding-left: 30px;
}

.italic {
    font-style: italic;
}

.border {
    border: 1px solid #FF0000;
}
.wh40 {
    width: 40px;
    height: 40px;
}

.container-fluid {
    margin: 0;
}

.section_block {
    width: 100%;
    height: 560px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow: hidden;
    position: relative;
}
.section_block:nth-child(0) {
    border-top: none;
}
#sec2d {
    background-color: #AF002A;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#sec3d {
    background-color: orangered;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#seccode {
    background-color: yellow;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
ul {
    list-style-type: none;
}
.common {
    width: 60%;
    height: 20%;
    background: whitesmoke;
    padding: 10px;
    margin: 1px;
}
*/
/* ---- SPACING ---- */
.margin-b-10 {
    margin-bottom: 10px;
}
.margin-b-40 {
    margin-bottom: 40px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-t-40 {
    margin-top: 40px;
}
.margin-t-60 {
    margin-top: 60px;
}
.margin-t-90 {
    margin-top: 90px;
}
.pad-l-30 {
    padding-left: 20px;
}

/* ---- SECTION ---- */
section {
    padding: 30px;
}

/* ---- FONTS ---- */
.font-10 {
    font-size: 10pt;
} 

.font-11 {
    font-size: 11pt;
}
.font-1em {
    font-size: 1em;
}

i.fas, i.fab {
    font-size: 2em;
}

.huge-icon {
    font-size: 3.5em;
}

/* ---- GRID ---- */
#social-container {
    margin-top: 80px;
    padding-left: 100px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(10, 1fr);
    font-size: 12px;
    justify-self: center;
}
