/* Absolute-Position.css */
#searchsection {
    position: relative;
    width: 600px;
    height: 200px;
    border-radius: 2px;
}
#searchbar {
    position: absolute;
    right: 40px;
    top: 60px;
}

.fullCard {
    width: 75%;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
}
