/* Box-Shadow.css */
#content {
  position: relative;
}
h4 {
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    padding: 10px;
    font-size: 27px;
    box-shadow: 2px 4px 3px rgba(255, 0, 10, 0.2), 1px 3px 4px 5px rgba(0, 0, 255, 0.6);
  }
  p {
    text-align: justify;
  }
  .links {
    text-align: left;
    color: black;
  }



  .fullCard {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
    box-shadow: 1px 1px 1px rgba(12,12,12,0.4);
  }
  .cardContent {
    padding: 10px;
  }
  .cardText {
    margin-bottom: 30px;
  }

.sampler {
  position: absolute;
  top: 0px;
  left: 500px;
  border: 1px solid blueviolet;
  padding: 40px;
}