/* Transform-Skew.css */
div {
    width: 70%;
    height: 100px;
    margin:  50px auto;
  }
  #top {
    background-color: red;
    transform: skewX(34deg);
  }
  #bottom {
    background-color: blue;
    transform: skewX(-2deg);
  }