/* Flex-Direction.css */
#box-container {
    display: flex;
    height: 500px;
    flex-direction: column;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 50%;
    height: 50%;
  }

  #box-2 {
    background-color: orangered;
    width: 50%;
    height: 50%;
  }
  #box-container-2 {
      display: flex;
      width: 600px;
      height: 500px;
      flex-direction: row-reverse;
  }
  #box-3 {
      width: 100px; 
        height: 100px;
        background-color: yellow;
  }
  #box-4 {
      width: 100px;
      height: 100px;
      background-color: blue;
  }
  #box-5 {
      width: 100px;
      height: 100px;
      background-color: red;
  }
  #box-6 {
      width: 100px;
      height: 100px;
      background-color: green;
  }
