/* Main.css  for Flexbox */
body {
    font-family:'Noto Sans JP';
}

h1 {
    display: inline-block;
    font-size: 3em;
    padding: 12px;
    background-color:blueviolet;
    /*max-width: 200px;
    min-width: 120px;*/
}

h1:after {
    margin-bottom: 20px;
}

span.fs13 {
    font-size: 13pt;
    padding: 4px;
    background-color: rgb(199, 238, 163);
}

.code {
    font-size: 14px;
    font-family: 'Courier new';
    padding: 10px;
    background-color: black;
    color: white;
}