#container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "advert content content"
    "footer";
}

#redbox {
    grid-area: footer;
}