h1 {
    display: inline;
    /*width: 40%;*/
    /*padding: 10px 2px;*/
    /*background: hsl(0, 10%, 30%);*/
}
h2 {
    display: inline;
    /*padding: 10px 20px;*/
    background-color: rgb(0, 10, 30);
    color: rgb(255, 12, 12);
    font-size: 3em;
}
a {
    color: rgb(100, 58, 100);
}
.header_nav {
    color: rgb(49, 64, 104);
    font-size: 9pt;
}

header {
    height: 7%;
    background: hsl(126, 80%, 60%);
}

nav {
    position: relative;
    left: 50px;
    top: 120px;
}